version: "3.9"

services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    networks:
      - lakehouse_net

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - lakehouse_net

  spark:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: spark
    environment:
      - SPARK_MODE=master
    ports:
      - "8088:8080"
      - "7077:7077"
    volumes:
      - ./spark:/opt/spark-apps
    networks:
      - lakehouse_net

  airflow:
    image: apache/airflow:2.8.1
    container_name: airflow
    user: "50000:0"
    depends_on:
      - postgres
      - minio
      - spark
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__SECRET_KEY: "secret_key_for_session"
    ports:
      - "8085:8080"
    volumes:
      - airflow_dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - airflow_plugins:/opt/airflow/plugins
    command: >
      bash -c "
      rm -f /opt/airflow/airflow-webserver.pid &&
      airflow db init &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com || true &&
      (airflow webserver & airflow scheduler & wait)"
    networks:
      - lakehouse_net

volumes:
  minio_data:
  airflow_dags:
  airflow_logs:
  airflow_plugins:

networks:
  lakehouse_net:
    driver: bridge