version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data:/data
    restart: unless-stopped
    
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"

  spark:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./spark_jobs:/spark_jobs
    restart: unless-stopped

  airflow:
    image: apache/airflow:2.8.1
    container_name: airflow
    depends_on:
      - minio
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    ports:
      - "8088:8080"
    volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    command: >
      bash -c "
      airflow db init &&
      airflow users create 
      --username admin 
      --firstname Admin 
      --lastname User 
      --role Admin 
      --email admin@example.com 
      --password admin &&
      airflow webserver & airflow scheduler
      "
    restart: unless-stopped

  # superset:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.superset
  #   container_name: superset
  #   ports:
  #     - "8089:8088"
  #   depends_on:
  #     - airflow
  #   restart: unless-stopped